*
!components
!lang
!lib
!pages
!scripts
!server
!public
!.babelrc
!env.js
!next.config.js
!rewrites.js
!tsconfig.json
!next-env.d.ts
!middleware.ts
!*.config.js
!*.config.mjs
!package.json
!package-lock.json
**/__tests__/*
